<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="http://farm4.staticflickr.com/3719/12244562896_c94f840b17_o.png" width="200px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Jerseys", "#" %></li>
        <li><%= link_to "Equipment", "#" %></li>
        <li><%= link_to "Mike Richter", "richter_path" %></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>